body{
    margin: 0;
    padding: 0;
    background-color: darkslategray;
}

iframe{
    margin: 0;
    border: none;
    width: 25%;
    height: 250px;
}

.big-div{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div{
    margin: 0;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
}